## Creating the clean data

In [1]:
import sys
from pathlib import Path

In [2]:
# Project Root

PROJECT_ROOT = Path().resolve().parent
sys.path.append(str(PROJECT_ROOT))

In [4]:
import pandas as pd
import numpy as np

from src import config

In [5]:
# Loading of Data

Data_path = config.DATA_PATH
Cleaned_data_path = config.CLEANED_DATA_PATH

print ("RAW DATA PATH: \n", Data_path)
print ("\n CLEANED DATA PATH: \n", Cleaned_data_path)

RAW DATA PATH:
 E:\BIA\ML Project 2\Crop_recommendation_system\data\Crop_recommendation.csv

 CLEANED DATA PATH:
 E:\BIA\ML Project 2\Crop_recommendation_system\data\cleaned_data.csv

In [6]:
data = pd.read_csv(Data_path)

df = data.copy()

df.head(10)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6  69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7  94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8  89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9  68  58  38    23.223974  83.033227  6.336254  221.209196  rice

In [9]:
# meta data 

print ("The no. of rows: ", df.shape[0])
print ("The no. of columns: ", df.shape[1])
print ("\nThe number of columns in the data: \n\n", df.columns.tolist())
print ("\nThe data types of each column: \n\n", df.dtypes)
print ("\n The basic info of my data: \n\n")

df.info()

The no. of rows:  2200
The no. of columns:  8

The number of columns in the data:

 ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label']

The data types of each column:

 N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

 The basic info of my data:


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [10]:
df.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [11]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [13]:
df.duplicated().sum()

np.int64(0)

In [15]:
df["label"].value_counts()

label
rice           100
maize          100
chickpea       100
kidneybeans    100
pigeonpeas     100
mothbeans      100
mungbean       100
blackgram      100
lentil         100
pomegranate    100
banana         100
mango          100
grapes         100
watermelon     100
muskmelon      100
apple          100
orange         100
papaya         100
coconut        100
cotton         100
jute           100
coffee         100
Name: count, dtype: int64

In [16]:
df.to_csv(Cleaned_data_path, index = False)

print ("Cleaned data saved successfully")

Cleaned data saved successfully